.header {
    height: 40px;
    display: flex;
    padding: 5px;
    border-bottom: 2px solid var(--main-fill);

    &__nav {
        &List {
            display: flex;
            gap: 10px;
        }
        &Item a:-webkit-any-link {
            background-color: var(--main-fill);
            color: var(--main-text);
            padding: 2px 3px;
        }
    }
}
